.star {
	background-color: var(--medium-grey);
	padding: 0.75rem;
	margin-bottom: 1.5rem;
	border-radius: 50%;
}

section {
	display: flex;
	justify-content: space-between;
}

section div {
	width: 2.75rem;
	height: 2.75rem;
	border-radius: 50%;
	padding: 0.5rem;
	margin-top: 2rem;
	background-color: var(--medium-grey);
	color: var(--light-grey);
	border-color: var(--medium-grey);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

section div:hover {
	background-color: var(--orange);
}

section div:focus {
	background-color: var(--light-grey);
	color: white;
}

.submit-button:hover {
	background-color: white;
	color: var(--orange);
}

.submit-button {
	width: 100%;
	background-color: var(--orange);
	color: white;
	border-radius: 20px;
	margin-top: 2.25rem;
	padding: 0.7rem;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	letter-spacing: 2px;
	text-decoration: none;
	display: block;
}

.align-text {
	text-align: left;
}
